/* Sidebar.css */
.sidebar {
  background-color: hsl(210, 11%, 15%);
  border-right: 1px solid #495057;
  width: auto;
  padding: 25px;
  color: #ffffffed;
  border-radius: 10px;
}

h2,
h3 {
  color: #ffffff;
}

.sidebar-section {
  margin-bottom: 19px;
}

.sidebar-section h3 {
  margin-bottom: 15px;
}
